### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Compiled class file
*.class

# Log file
*.log

.gradle
/bin
/gradle
/gradlew
/gradlew.bat
/settings.gradle
